<header class="header">
  <div class="header__block">
    <h1 class="header__block-title">Converter of currency</h1>
    <div 
      class="header__block-container converter"
    >
      <div class="converter__block">
        <select 
          [(ngModel)]="selectedOption1" 
          class="converter__select select"
          (change)="getSecondInput(amount1)"
        >
          <option
            *ngFor="let item of nameOfCurrency"
            class="select__option"
            value={{item.name}}
            [style.background-image]="'url('+item.image+')'"
          >
            {{item.name}}
        </option>
        </select>

        <input type="text" [(ngModel)]="amount1" (ngModelChange)="getSecondInput($event)"/>
      </div>

      <div class="converter__block">
        <select 
          [(ngModel)]="selectedOption2" 
          class="converter__select select"
          (change)="getFirstInput(amount2)"
          
        >
          <option
            *ngFor="let item of nameOfCurrency"
            class="select__item"
          >
            {{item.name}}
            <span [style.background-image]="'url('+item.image+')'"></span>
        </option>
        </select>

        <input type="text" [(ngModel)]="amount2" (ngModelChange)="getFirstInput($event)"/>
      </div>
    </div>
  </div>
</header>