<header class="header">
  <div class="header__block">
      <h1 class="header__block-title">Converter of currency</h1>
      <div class="header__block-container converter">
        <app-form 
          (setErrorEvent)='setError($event)' 
          (setResult)='setResultSecondInput($event)' 
          [activeSecondField]="activeItemSecond"
          (setActiveItemEvent)="setActiveItemMain($event)"
          (setActiveFieldToHeader)="setActiveFieldMain($event)"
          [inputResult]="resultMainInput"
          [activeField]="activeFieldMain"
          class="converter__block">
        </app-form>
        <app-form 
          (setErrorEvent)='setError($event)' 
          (setResult)='setResultMainInput($event)' 
          [activeSecondField]="activeItemMain"
          [activeField]="activeFieldSecond"
          (setActiveFieldToHeader)="setActiveFieldSecond($event)"
          (setActiveItemEvent)="setActiveItemSecond($event)"
          [inputResult]="resultSecondInput"
          class="converter__block"
        >
        </app-form>
          <div *ngIf="errorMessage" class="converter__error-block">
              {{ errorMessage }}
          </div>
      </div>
  </div>
</header>

